@font-face {
  font-family: 'Lato Black';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url('../fonts/lato-black-900.woff') format('woff');
}
@font-face {
  font-family: 'Lato Hairline';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url('../fonts/lato-hairline-100.woff') format('woff');
}
@font-face {
  font-family: 'Lato Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato-regular-400.woff') format('woff');
}
@font-face {
  font-family: 'Lato Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/lato-bold-700.woff') format('woff');
}
@font-face {
  font-family: 'Lato Light';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('../fonts/lato-light-300.woff') format('woff');
}
