

        ()´´*-_       _-*´´*-_                  ()                 *´´*-_       _-*´´*-_  ()
       ()()    *-._.-*        (_______________()()()_______________)     *-._.-*        *()() 
       _)(_                                   ) () (                                     _)(_
      (    )                                   ****                                     (    )
  )____)  (____(                                **                                  )____)  (____(    
() ____    ____ ()   _._          _._                       _._          _._      () ____    ____ ()
  )    )  (    (   .'   '.      .'   '.                   .'   '.      .'   '.      )    )  (    (
      (_  _)       ! .    numero     . !  fecha emision   ! .    numero     . !         (_  _)
        )(          '    {{serial}}     '  {{date}}  '    {{serial}}     '            )(
       ()()               ______                                 ______                  ()()
        ()               (      )                               (      )                  ()
                          _._         --.                 .--         _._
                        .'    '.     '---.------(o)------.---'     .'    '.
                        '   .   '.           GENERADOR           .'   .   '
                        '._.'    '-.__.'    DE  VALORES   '.__.-'    '._.'
                                                     
{{certificate|crt_title|indent(18,true)}}
                                        _       ()       _
    _-*´´*-_       _-*´´*-_       _-*´ ( )    ()()()    ( )  ´*-_       _-*´´*-_       _-*´´*-_    
_.-*        *-._.-*        *-._.-*     l       ]()[       j      *-._.-*        *-._.-*         *-._
	                                '.__.-'    '-.__.'

