

      ()''*-_       _-*''*-_    ()    _*''*-_      _-*''*-_  ()
     ()()    *-._.-*        __()()()__      *-._.-*        *()()
      )(                      ) () (                         )(
                               ****                                   
                                ** 
    _._          _._                       _._          _._ 
  .'   '.      .'   '.                   .'   '.      .'   '.
  ! .    number     . !      date        ! .    number     . !
   '    {{serial}}     '  {{date}}  '    {{serial}}     '
         ______                                 ______  
        (      )                               (      )
         _._         --.                 .--         _._
       .'    '.     '---.------(o)------.---'     .'    '.
       '   .   '.           GENERADOR           .'   .   '
        '._.'    '-.__.'    DE  VALORES   '.__.-'    '._.'
                                                     
{{certificate|crt_title|indent(18,true)}}
                        _       ()       _
   _-*''*-_       _-*'' ( )    ()()()    ( )  '*-_       _-*''*-_
.-*        *-._.-*     l       ]()[       j      *-._.-*        *
	                      '.__.-'    '-.__.'

