













o0=====0o,..-====-..,,,..-====-..,,,..-====-..,,,..-====-..,o0=====0o
  0===0                                                       0===0
   !=!    .-oo0oo-.          .-oo808oo-.          .-oo0oo-.    !=!
   !=!      numero         fecha de emision        numero      !=!
   !=!      {{serial}}          {{date}}           {{serial}}  !=!
   !=!.,;============;,.   .,;========;,.     .,;===========;,.!=!
   !=!                                                         !=!
   !=!         ;;======;;-..,,,.-==-.,,,..-;;======;;          !=!
   !=!         ;;==;;   generador de valores   ;;==;;          !=!
   !=!         ;;======;;-..,,,.-==-.,,,..-;;======;;          !=!
   !=!                                                         !=!
                 {{certificate|crt_title|indent(1,true)}}
   !=!                                                         !=!
  0===0                                                       0===0
o0=====0o,..-====-..,,,..-====-..,,,..-====-..,,,..-====-..,o0=====0o












