














{{borla}}{{borla}}{{capitel}}{{borla}}{{borla}}{{pattern1}}{{pattern2}}{{pattern1}}{{pattern2}}{{pattern1}}{{pattern2}}{{pattern1}}{{pattern2}}{{pattern1}}{{borla}}{{borla}}{{capitel}}{{borla}}{{borla}}
 {{borla}}{{capitel}}{{borla}}           oo                .o0o.                oo           {{borla}}{{capitel}}{{borla}}
   {{pattern3}}        ..oo0000oo..       ..oo00000oo..       ..oo0000oo..       {{pattern3}}
   {{pattern3}}           numero         fecha de emision        numero          {{pattern3}}
   {{pattern3}}         {{serial}}        {{date}}      {{serial}}         {{pattern3}}
   {{pattern3}}       --==========-- ..--===============--.. --==========--      {{pattern3}}
   {{pattern3}}                                                                  {{pattern3}}
   {{pattern3}}                  -==;;;;;==--..,,,..--==;;;;;==-                 {{pattern3}}
   {{pattern3}}                      ;;;    generador    ;;;                     {{pattern3}}
   {{pattern3}}                       ;        de         ;                      {{pattern3}}
   {{pattern3}}                      ;;;     valores     ;;;                     {{pattern3}}
   {{pattern3}}                  -==;;;;;==--..,,,..--==;;;;;==-                 {{pattern3}}
   {{pattern3}}                                                                  {{pattern3}}
                 {{certificate|crt_title|indent(8,true)}}
   {{pattern3}}                                                                  {{pattern3}}
 {{borla}}{{capitel}}{{borla}}                                                               {{borla}}{{capitel}}{{borla}}
{{borla}}{{borla}}{{capitel}}{{borla}}{{borla}}{{pattern1}}{{pattern2}}{{pattern1}}{{pattern2}}{{pattern1}}{{pattern2}}{{pattern1}}{{pattern2}}{{pattern1}}{{borla}}{{borla}}{{capitel}}{{borla}}{{borla}}















